@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Display:ital@0;1&family=Syne:wght@400..800&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-principal);
  font-size: 1rem;
  line-height: 1.6;

  color: #e6e6e6;
  background-color: #0D0D0F;
}

:root {
  --tamanho-header: 8vh;
  --tamanho-banner: calc(100vh - var(--tamanho-header));
  /* --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); */
  --tamanho-section: fit-content;
  /* --tamanho-login: calc(100vh - var(--tamanho-header)); */
  --tamanho-login: 74vh;
  --tamanho-footer: 65px;

  --branco: #e6e6e6;
  --dourado-principal: rgb(162, 99, 0);
  --cinza-escuro: #141418;
  --cinza-principal: #1C1C22;
  --cinza-secundario: #4D4D4D;
  --cinza-conteudo: #7a7a7a;
  --cinza-borda: #24242D; 
  --cinza-apagado: rgba(255, 255, 255, 0.06);

  --verde-claro: #639922;
  --verde-escuro: #1D9E75;
  --amarelo: #CAA200;
  --azul: #378ADD;
  --roxo: #5E56C4;
  --rosa: #D4537E;
  --laranja: #D85A30;

  --fonte-titulo: 'DM Serif Display', serif;
  --fonte-principal: 'Syne', sans-serif;
  --fonte-secundaria: 'DM Mono', sans-serif;
}

.container {
  display: flex;
  width: 95%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 1px solid var(--cinza-secundario);
  width: 100%;
  position: fixed;
  background-color: rgba(13, 13, 15, 0.8);
  backdrop-filter: blur(12px);
  z-index: 9999;
}

.header-login {
  position: relative;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: var(--cinza-conteudo);
  font-weight: 600;
  font-size: 0.9em;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  color: var(--dourado-principal);
}

.header h1 {
  margin: 0;
}

/* BANNER */


.banner {
  height: var(--tamanho-banner);

  background-image: url('../assets/landing-page/banner-img.png');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 40%;
  margin: 0 840px 160px 0;
  padding: 0;
  font-size: 76px;
  line-height: 1;
  font-family: var(--fonte-titulo);
}

.italic-span {
  font-style: italic;
  color: var(--dourado-principal);
}

/* MISSÃO VISÃO VALORES */

.social {
  height: var(--tamanho-section);
}

.social .container {

  justify-content: center;
  align-items: center;
  /* padding: 42px 420px; */
}

.social .container .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  
  height: 100%;
  width: 100%;
  padding: 80px 320px;
  
}


.social .container .content-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  
  height: 100%;
  width: 100%;
  padding: 80px 320px;
  gap: 56px;
}

.container-text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;

}

.content-header {
  position: relative;
}

.bg-number{
  position: absolute;
  top: -140px;
  left: -10px;

  font-family: var(--fonte-principal);
  font-size: 210px;
  font-weight: 400;
  line-height: 1;
  color: var(--cinza-apagado);
}

.header-tag {
  position: absolute;
  bottom: 24px;
  left: 96px;
  display: flex;
  align-items: center;
  gap: 10px;

}

.social p {
  text-align: left;
}




.line {
  display: block;
  background-color: var(--dourado-principal);
  width: 36px;
  height: 2px;
}

.header-tag:nth-child(2) {
  z-index: 999;
  font-family: var(--fonte-principal);
  font-size: 0.8em;
  font-weight: 600;
  color: var(--dourado-principal);
}


.content-img img {
  height: 500px;
}

.content-title h2 {
  font-family: var(--fonte-titulo);
  font-size: 4em;
  font-weight: 200;
  line-height: 1;

  margin: 0;
}

.content-text p {
  color: var(--cinza-conteudo);
}

/* CTA */

.cta {
  margin-top: 180px;
}

/* FOOTER */

.footer {
  height: 150px;
  color: var(--cinza-secundario);

  display: flex;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 120px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

.line-footer {
  display: block;
  background-color: var(--cinza-apagado);
  width: 65vw;
  height: 2px;
}

/* LOGIN */

.main-container {
  display: flex;
  flex-direction: column;

  gap: 24px;
  height: 100vh;

  margin-bottom: 24px;
}

.login {
  height: var(--tamanho-login);
  padding: 80px;
}

.login .container {
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.formulario {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  flex-direction: column; 
}

.login-div {
  display: flex;
  justify-content: center;

  margin-top: 24px;
}

.login-div button {
  width: 140px;
}

.formulario span {
  font-size: 15px;
  font-weight: 700;
}

.formulario input {
  background-color: transparent;
  padding: 8px 10px;
  /* width: 100%; */
  margin-bottom: 14px;
  border: 1px solid var(--branco);
  border-radius: 6px;
  color: #e6e6e6;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.login-container {
  display: flex;
  gap: 12px;
  align-items: stretch;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  font-family: var(--fonte-principal);

}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeUp {
    from { opacity: 0; transform: translateY(16px); }
    to { opacity: 1; transform: translateY(0);}
}
@keyframes fadeUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes scaleIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}
@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1; }
}
.anim-fade-up {
    animation: fadeUp 0.5s ease both;
}
.anim-scale-in {
    animation: scaleIn 0.55s ease both;
}
.anim-fade-in {
    animation: fadeIn 0.4s ease both;
}
.anim-d1 {
    animation-delay: 0.1s;
}
.anim-d2 {
    animation-delay: 0.2s;
}
.anim-d3 {
    animation-delay: 0.3s;
}
.anim-d4 {
    animation-delay: 0.4s;
}