
@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes modalClose {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
}


.modal-container-item {
    width: 100vw;
    position: fixed;
    top: 30vh;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal-container-meta {
    width: 100vw;
    position: fixed;
    top: 30vh;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal-container-filtro {
    width: 100vw;
    position: fixed;
    top: 30vh;
    display: none;
    z-index: 999;
    justify-content: center;
}


.modal {
    display: flex;
    flex-direction: column;
    padding: 46px;
    border-radius: 10px;
    width: 50%;
    color: rgb(255, 255, 255);
    border: 0.5px solid #4D4D4D;
    border-radius: 10px;
    background-color: #1C1C22;
}

.active {
    display: flex;
}

.active .modal {
    animation: modal .6s;
}

.closing {
    pointer-events: none;
}

.closing .modal {
    animation: modalClose .6s forwards;
}


.modal-header h2 {
    display: block;
    font-size: 2.8em;
    line-height: 0.8;
    font-family:  var(--fonte-titulo), sans-serif;
    font-weight: 300;
}

.modal-header p {
    font-size: 1.2em;
    display: block;
    line-height: 1.0;
    text-align: right;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 305;
    margin-bottom: 24px;
}

.close-modal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#label-box-modal input {
    font-family: 'Syne', sans-serif;
    font-size: 1.1em;
}

.responsive-labels #ipt_titulo {
    width: 180%;
}

.modal-header-meta h2 {
    display: block;
    font-size: 2.8em;
    line-height: 0.8;
    font-family:  var(--fonte-titulo), sans-serif;
    font-weight: 300;
}

.modal-header-meta p {
    font-size: 1.2em;
    display: block;
    line-height: 1.0;
    text-align: right;
}

.modal-header-meta {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 180px;
    margin-bottom: 24px;
}

.filter-div {
    display: flex;
    flex-direction: row;
    width: 35%;
    /* justify-content: center; */
    /* align-items: center; */

    gap: 8px;
}



.btn-checkbox {
    height: 16px;
    width: 16px;
    background-color: #4D4D4D;
}

.mini-modal {
    position: absolute;
    background: #1C1C22;
    border: 1px solid #31313b;
    color: #e6e6e6;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.mini-modal.show {
    opacity: 1;
    transform: scale(1);
}

.mini-modal.closing {
    opacity: 0;
    transform: scale(0.9);
}


.mini-modal-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-excluir {
    background: #e74c3c;
    color: #e6e6e6;
    border: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-cancelar {
    background: #555;
    color: #e6e6e6;
    border: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-mudar-status {
    background: #555;
    color: #e6e6e6;
    border: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}
